@import "tailwindcss";

@font-face {
  font-family: 'Morris Roman';
  src: url('./fonts/MorrisRoman-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-background: #131319;
  --color-text: #E5E1E9;
  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
  --font-morris: 'Morris Roman', serif;
  --font-nunito: 'Nunito', sans-serif;
}
